<div class="wrapper">
  <mat-accordion *ngIf="width < 768">
    <mat-expansion-panel *ngFor="let bike of dataC">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{bike.type}}</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ imgUrl: bike.img, 
      title: bike.title,
      description: bike.description,
      characteristic: bike.characteristics,
      listType: 'list-number'
    }"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-tab-group *ngIf="width >= 768">
    <mat-tab *ngFor="let bike of dataC" label="{{bike.type}}">
      <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{ imgUrl: bike.img, 
      title: bike.title,
      description: bike.description,
      characteristic: bike.characteristics,
      listType: 'list-number'
    }"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <ng-template #content let-imgUrl='imgUrl' let-title='title' let-description='description'
    let-description2='description2' let-characteristic='characteristic' let-listType='listType'>
    <div class="card">
      <div class="card__top-content card-top-content">
        <img class="card-top-content__bike" src="/assets/images/{{imgUrl}}.png" alt="bike">
        <div class="card-top-content-article">
          <h1 class="card-top-content-article__title">{{title}}</h1>
          <div class="card-top-content-article__description">
            <p [innerHtml]="description"></p>
          </div>
        </div>
      </div>
      <hr />
      <h3 class="card__sub-title">
        Характеристики
      </h3>
      <ul class="card__list card-list {{listType}}">
        <li class="card-list__item" *ngFor="let i of characteristic">
          {{i}}
        </li>
      </ul>

      <div class="card__add-characteristic card-add-characteristic">
        <h3 class="card-add-characteristic__title">
          Добавить характеристику
        </h3>
        <div class="card-add-characteristic-form">
          <mat-form-field class="card-add-characteristic-form__field" appearance="fill">
            <input [(ngModel)]="setItemList" matInput placeholder="Алюминиевый сплав" value="">
          </mat-form-field>
          <button [disabled]="!setItemList.length" (click)="addItems(characteristic)" class="btn"
            mat-button>Добавить</button>
        </div>

      </div>
      <div class="card__footer card-footer">
        <button class="btn" mat-button>Окей</button>
        <button class="btn btn_secondary" mat-button>Отмена</button>
      </div>
    </div>
  </ng-template>
</div>